@import url('https://fonts.googleapis.com/css?family=Anton');
*{
    margin:0;
    padding: 0;
}
.container{
    width: 425px;
    height: 494px;
    position: relative;
    margin: 100px auto;
    padding: 12px;
    background-color: #382946;
}
.window-in{
    width: 82%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border: 2px solid darkblue;
    border-radius: 17px;
    background-color: aliceblue;
    font-size: 50px;
}
.window-in:focus{
    outline: none;
}
.chancel{
    width: 60px;
    height: 60px;
    top: 18px;
    position: absolute;
    right: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: darkgray;
    border-radius: 15px;
    cursor: pointer;
} 
.struct{
}
.numbers{
    display: flex;
    flex-wrap: wrap;
}

.numbers > div{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 5px;
    background-color: cornsilk;
    cursor: pointer;
}
.numbers .result{
    width: 205px;
}
.tab-res{
    width: 74%;
    height: 12px;
    position: absolute;
    right: 90px;
    top: 15px;
    font-family: Anton;
    border: none;
}